[submodule "peepingtom"]
	path = peepingtom
	url = https://bitbucket.org/LaNMaSteR53/peepingtom.git
[submodule "sqlmap"]
	path = sqlmap
	url = https://github.com/sqlmapproject/sqlmap.git
[submodule "groupenum"]
	path = groupenum
	url = https://github.com/SpiderLabs/groupenum.git
[submodule "Responder"]
	path = Responder
	url = https://github.com/SpiderLabs/Responder.git
[submodule "PowerUp"]
	path = PowerUp
	url = https://github.com/HarmJ0y/PowerUp.git
[submodule "smbexec"]
	path = smbexec
	url = https://github.com/pentestgeek/smbexec.git
[submodule "PowerSploit"]
	path = PowerSploit
	url = https://github.com/mattifestation/PowerSploit.git
[submodule "svn-extractor"]
	path = svn-extractor
	url = https://github.com/anantshri/svn-extractor.git
[submodule "Veil-Evasion"]
	path = Veil-Evasion
	url = https://github.com/Veil-Framework/Veil-Evasion.git
[submodule "Veil-Catapult"]
	path = Veil-Catapult
	url = https://github.com/Veil-Framework/Veil-Catapult.git
[submodule "metasploit-framework"]
	path = metasploit-framework
	url = https://github.com/rapid7/metasploit-framework.git
[submodule "arachni"]
	path = arachni
	url = https://github.com/Arachni/arachni.git
[submodule "pykek"]
	path = pykek
	url = git@github.com:bidord/pykek.git
[submodule "PowerShell"]
	path = PowerShell
	url = https://github.com/clymb3r/PowerShell.git
[submodule "beef"]
	path = beef
	url = https://github.com/beefproject/beef.git
[submodule "ridenum"]
	path = ridenum
	url = https://github.com/trustedsec/ridenum
[submodule "impacket"]
	path = impacket
	url = https://github.com/CoreSecurity/impacket.git
[submodule "pipal"]
	path = pipal
	url = https://github.com/digininja/pipal.git
[submodule "sslscan"]
	path = sslscan
	url = https://github.com/rbsec/sslscan.git
[submodule "wpscan"]
	path = wpscan
	url = https://github.com/wpscanteam/wpscan.git
[submodule "unicorn"]
	path = unicorn
	url = https://github.com/trustedsec/unicorn.git
[submodule "dnsrecon"]
	path = dnsrecon
	url = https://github.com/darkoperator/dnsrecon.git
[submodule "meterssh"]
	path = meterssh
	url = https://github.com/trustedsec/meterssh.git
[submodule "Inveigh"]
	path = Inveigh
	url = https://github.com/Kevin-Robertson/Inveigh.git
[submodule "wifiphisher"]
	path = wifiphisher
	url = https://github.com/sophron/wifiphisher.git
[submodule "PowerTools"]
	path = PowerTools
	url = https://github.com/PowerShellEmpire/PowerTools.git
[submodule "nishang"]
	path = nishang
	url = https://github.com/samratashok/nishang.git
[submodule "windows-privesc-check"]
	path = windows-privesc-check
	url = https://github.com/pentestmonkey/windows-privesc-check.git
